.products-container {

    h2 {
        font-family: 'Nunito', 'sans-serif';
        font-weight: 900;
        color: #000;
        font-size: 2.7rem;
        position: relative;
        
        &::after {
            content: '';
            position: absolute;
            bottom: -6px;
            left: 0;
            height: 4px;
            width: 65px;
            background-color: #C0C0C0;
        }
    }

    .products-list {
        margin-top: 2.6rem;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
    }

}