* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;

    @media (max-width: 1200px) {
        max-width: 992px;
    }

    @media (max-width: 992px) {
        width: 90%;
    }
}

//Swal custom class

.swal-title {
    font-size: 2.6rem;
}
.swal-button-text {
    font-size: 1.6rem!important;
}